.long-texts {
    display: none !important;
}

.tcb-image {
    max-width: 100%;
    height: auto;
}

.numberorders {
    border-radius: 100%;
    width: 25px;
    height: 25px;
    background: #ff6004;
    padding: 2px 5px;
    text-align: center;
    box-shadow: 3px 3px 15px -2px #707070;
    color: white;
    display: inline-block;
}

.tcb-warning {
    color: #FFF !important;
    height: 30px;
    width: 30px;
    font-size: 14px !important;
    padding: 7px !important;
    position: absolute !important;
    top: -13px;
    left: -5px;
    opacity: 0.7;
}

.navbar-search-light .input-group-text,
.navbar-search-light .form-control {
    color: #707070 !important
}